<p>home works!</p>

<div class="card-columns" >
    <div class="card" *ngFor="let cancion of nuevasCanciones">
      <img class="card-img-top" [src]="cancion.images[0].url" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{cancion.name}}</h5>
        <p class="card-text">
            <span *ngFor="let artista of cancion.artists" class="badge badge-pill badge-primary">{{artista.name}}</span>
        </p>
      </div>
    </div>
</div>
<ul>
    <li *ngFor="let p of paises">{{ p.name }} - {{p.population }} </li>
</ul>